#root {
  height: 100vh;
  width: 100vw;
}
body {
  background-image: linear-gradient(90def,rgb(205,205,205) 0%, rgb(205,205,205) 100%);
  /* border: dotted 10px blue; */
  /* background-color: red; */
  height: 100%;
  width: 100vw;
}

html {
  height: 100%;
  width: 100vw;
  
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 249, 249);
}
.wrapper {
  flex: 1;
  padding-bottom: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.map-wrapper {
  width: 100%;
  height:200px; 
}

.navbar-dark {
  /* background: linear-gradient(90deg,#e2eafc 0% ,#e2eafc 100%); */
  background-color: rgb(0,16,23);
  width: 100%;
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}  

.search-container {
  background-image: url('/assets/images/beachone.jpg');
  background-color: rgba(0,0,0,0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  border: 1px solid white ;
  border-radius: 20px;
  /* height: 400px; */
  /* width: 500px; */
}
.search-icon {
  position: relative;
  right: 30px;
}

.card {
  margin: 10px;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}
.card-img-overlay {
  background-color: rgba(0,0,0,0.4);
  border: 7px solid white;
  border-radius: 40px; 
}
.card-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.7rem;
  color: white;
}

.social-container {
  padding-bottom: 20px; 
}

.site-footer {
  color: white;
  background-color: rgb(0,16,23);
  width: 100%;
  padding-top: 3em;
  position: bottom;
  bottom: 0;

}

.groupcol {
  margin: 30px 120px 30px;
  align-items: 'center';
  justify-content: 'center';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: 'center';
}

.rightcol {
  padding: 10px;
  margin: 40px;
  align-items: 'left';
  justify-content: 'left';
}

.leftcol {
  width: 700px;
  padding: 10px;
  margin: 40px 90px 40px;
  align-items: 'center';
  justify-content: 'center';
} 

.grid-container {
  /* background-color: white; */
  height: 100vh;
  width: 90vw;
  display: grid;
  grid-template-rows: 0.4fr 1.75fr 1.75fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar pic1 pic1 text1"
    "sidebar text2 pic2 pic2";
}

@media only screen and (max-width: 1000px) {
  .grid-container {
    grid-template-rows: 1.5fr 5fr 5fr ;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "text1"
      "text2"
  }
}
.row-one {
  background-color: lavender;
  grid-area: header;
}

.row-two {
  background-image: url('/assets/images/buildings.jpg');
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: sidebar;
}

.row-three {
  /* background-color: green ; */
  background-image: url('/assets/images/money.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: pic1;
}

.row-four {
  background-color: white;
  grid-area: text1;
  /* align-self: center; */
  justify-self: center;
}
.row-five {
  background-color: white;
  grid-area: text2;
}

.row-six {
  /* background-color: chocolate; */
  background-image: url('/assets/images/design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: pic2;
}


/* .navbar-collapse {
  justify-content: left;
}  */


/* footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.social-container {
  padding-bottom: 20px; 
}

.Carousel {
  height: 400px;
}

.CarouselItem {
  align-items: 'center';
  height: 400px;
}

.CarouselItem img {
  position: absolute;
  height: 400px;
}
.groupcol {
  margin: 30px 120px 30px;
  align-items: 'center';
  justify-content: 'center';
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: 'center';
}

.rightcol {
  padding: 10px;
  margin: 40px;
  align-items: 'left';
  justify-content: 'left';
}

.leftcol {
  width: 700px;
  padding: 10px;
  margin: 40px 90px 40px;
  align-items: 'center';
  justify-content: 'center';
} 

/* 
.landing {
  font-style: italic;
  color: red;
  height: 1259px;
  width: 100%;
  background-color: lightblue;
  background-image: url('./background.jpg');
  border: dotted 10px green;
}  */