/* .site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
};

.social-container {
  padding-bottom: 20px; 
};

CardImg {
  width:400px;
  height: 400px;
}; */


.groupcol {
  margin: 30px 120px 30px;
  align-items: 'center';
  justify-content: 'center';
};

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
};

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: 'center';
}

.rightcol {
  /* background-color: blue; */
  /* height: 800px; */
  padding: 10px;
  margin: 40px;
}

.leftcol {
  /* background-color: green; */
  width: 700px;
  /* height: 800px; */
  padding: 10px;
  margin: 40px 90px 40px;
  align-items: 'center';
  justify-content: 'center';
}
